requests
urllib3
certifi
chardet
idna
charset-normalizer
tqdm
colorama
importlib-resources
cryptography
pyshorteners
art
Faker
python-dateutil
GitPython
gitdb
typing-extensions
climage
Pillow
kdtree
youtube_dl
scapy
python-whois
pytube3
pytube
